body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: #829ae7;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 90vh;

}
.image_container{
    
    display: grid;
 

    grid-template-columns: repeat(3, 1fr);

     gap: 20px;
    max-width: 1200px;
    padding: 20px ;
}
.carte{
    
    background-color: rgb(226, 194, 194);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}
.carte:hover {
    transform: translateY(-10px);
}
.carte img{
    width: 100%;
    height: auto;
}
.text-block{
    padding: 15px;
}
.title{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}
.description{
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}
.button{ 
    
    display: inline-block;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #6689fd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0ms background-color 0.3s;
    


}



